@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
body::selection{
  background-color: transparent;
}

.navbar p {
  color: green;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: 0.3s;
}
.navbar p:hover{
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
}
.nav-links a{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.nav-links a:hover{
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  color: green;
}
.farm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.farm button{
  width: 200px;
  margin: 40px auto;
}
.p-1{
  width: 700px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}
.img-1{
  width: 300px;
  position: relative;
  top: 25px;
  left: 250px;
}
.img-2{
  width: 400px;
  position: relative;
  top: 25px;
  left: 300px;
}
.california{
  width: 800px;
  position: relative;
  top: -30px;
  left: 600px;
}
.last-parent{
  display: flex;
  padding-left: 10px;
  justify-content: center;
}
.last-child{
  width: 50%;
  margin-left: 30px;
}
.p-3{
  width: 20%;
}