@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
body::selection{
  background-color: transparent;
}
.container2{
  width: 100%;
}
.navbar{
  padding:10px 30px;
}
.nav-src a{
  padding-right: 10px;
  color: black;
  text-decoration: none;
  transition: 1s;
}
.nav-src a:hover{
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 0px 10px black;
}
.logo{
  width: 40px;
  height: 40px;
  background-color: yellow;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  font-size: 20px;
}
.main-text{
  text-align: center;
}
h1{
  font-weight: 300;
}
.main{
  margin-top: 40px;
}
.h1-1{
  text-align: center;
}
.p-1{
  text-align: center;
}
.main button{
  width: 100px;
  height: 30px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  
}
button:last-child{
  width: 150px;
  height: 30px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  /* margin: 0 auto; */
}
.pro-sta{
  display: flex;
  justify-content: space-evenly;
}
.pro-sta h1{
  text-align: center;
}
.pro-sta p {
  text-align: center;
}
img{
  width: 100%;
}
.main-2{
  text-align: center;
  margin-top: 20px;
}
.diff{
  width: 100%;
  height: 400px;
  background-color: aliceblue;
  padding-top: 15px;
  margin-top: 10px;
}
.diff h1{
  text-align: center;
  margin-top: 30px;
}
.diff-div{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.diff-div-1{
  width: 300px;
}
.diff-div-2{
  width: 300px;
}
.process h1{
  text-align: center;
}
.pro-p{
  text-align: center;
}
.process-divs{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.proc-bar{
  width: 200px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  padding-top: 25px;
}
.ul-li{
  width: 200px;
  background-color: lightgray;
}
.proc-bar span{
  width: 60px;
  height: 60px;
  background-color: yellow;
  position: absolute;
  bottom: 20px;
  left: 70px;
  color: black;
  font-size: 35px;
  border-radius: 100%;
  padding-top: 5px;
  border: 3px solid white;

}
